{% extends 'app1/base.html' %}

{% block title%}KNN{% endblock title %}

{% block content %}

    <h1 class="display-2">Algoritmo KNN</h1>
    <div class="content container col-lg-10 mx-auto text-align-center">
      <br>Paso 1: Ingresar el numero de K vecinas
      <br>Paso 2: Ingrese las variables correspondientes para X1, X2 y X3</p>
    </div>
    <form class="row gx-3 gy-2 align-items-center"  action="/algoritmo_knn/" method="post">
        {% csrf_token %}
        <div class="col-sm-2">
          <label class="visually-hidden" for="specificSizeInputName">K</label>
          <input type="text" class="form-control" name="k" id="specificSizeInputX" placeholder="K">
        </div>
        <div class="col-sm-2">
          <label class="visually-hidden" for="specificSizeInputName">X1</label>
          <input type="text" class="form-control" name="x" id="specificSizeInputX" placeholder="X1">
        </div>
        <div class="col-sm-2">
            <label class="visually-hidden" for="specificSizeInputName">X2</label>
            <input type="text" class="form-control" name="y" id="specificSizeInputY" placeholder="X2">
          </div>
        <div class="col-sm-2">
            <label class="visually-hidden" for="specificSizeInputName">X3</label>
            <input type="text" class="form-control" name="z" id="specificSizeInputZ" placeholder="X3">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Clasificar</button>
        </div>
    </form>
    <br>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="table table-striped table-dark">
      <tr>
          <td>
              <div align="center">
                  <table width="80%" border="0" class="table table-striped table-dark">
                      <tr>
                          <th>Variable</th>
                      </tr>

                      {% for val in dist %}
                      <tr>

                          <td>{{val}}</td>

                      </tr>
                      {% endfor %}
                  </table>
              </div>
          </td>
          <td>
              <div align="center">
                  <table class="table table-striped table-dark">
                      <tr>
                          <th>Variable con la distancia mas cercana</th>
                      </tr>

                      {% for val in dist %}
                      <tr>
                          <td>{{knn}}</td>
                      </tr>
                      {% endfor %}
                  </table>
              </div>
          </td>
      </tr>
  </table>
{% endblock %}